<div class="row">

    <div class="col-6">
        <app-dona 
            titulo="Gráfica 1"
            [labels]="labels1"
            [data]="data1"
            [colorsArr]="colors1"
            >
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona 
            titulo="Gráfica 2"
            [labels]="labels1"
            [data]="data1"
            [colorsArr]="colors2"
            >
        </app-dona>
    </div>

</div>

<div class="row">

    <div class="col-6">
        <app-dona 
            titulo="Gráfica 3">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona 
            titulo="Gráfica 4">
        </app-dona>
    </div>

</div>